@import "../../../styles/variables";

.fixed {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  transition: all 300ms ease;
  &--dark {
    background-color: $midnightBlue;
  }
}

.header-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 48px;
  height: 48px;
  padding: 0 12px;
  border-bottom: 1px solid rgba(black, 0.05);

  .pay-click-handler {
    cursor: pointer;
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
  }
}
