@import "../../../styles/variables";

.fixed {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
}

.header-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 48px;
  height: 48px;
  padding: 0 12px;
  border-bottom: 1px solid rgba(black, 0.05);

  &__controls {
    position: absolute;
    right: 13px;
    transform: translateY(1px);
    user-select: none;

    &__toggle {
      position: absolute;
      right: 0;
      &--wrapper {
        position: relative;
        right: 7px;
        display: flex;
      }
    }
  }
}
