.card-details {
  padding: 10px;
  position: relative;

  &__more {
    padding: 15px;
    padding-top: 6px;
    position: absolute;
    right: 0;
    top: 0;

    &__menu {
      div {
        background: #081125;
        border-radius: 6px;
        margin-left: 5px;
        margin-top: -8px;
      }

      &__item {
        @at-root li#{&} {
          color: white;
          font-size: 12px;
          justify-content: flex-start;
          padding-right: 14px;
          padding-left: 14px;
          padding-top: 0;
          padding-bottom: 0;
          min-height: 27px;

          @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
              color: rgba(
                $color: (
                  #ffffff
                ),
                $alpha:
                  1 -
                  (
                    $i - 1
                  ) *
                  0.25
              );
            }
          }
        }
      }
    }
  }

  &__claim-box {
    background: #f4f6fa;
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
    margin: 0 5px;
    margin-bottom: 15px;
    cursor: copy;

    &__label {
      font-size: 12px;
      color: rgba($color: #434d5a, $alpha: 0.75);
      margin-top: 5px;

      &--action {
        display: none;
        color: #4f6ef7;
        font-weight: 500;
      }
    }

    &__value {
      font-size: 20px;
      font-weight: 600;
    }

    &:last-child {
      margin-bottom: 3px;
    }

    &:hover {
      .card-details__claim-box__label {
        display: none;
      }
      .card-details__claim-box__label--action {
        display: block;
      }
    }
  }
}
