.card-details {
  padding: 10px 15px;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;

    &__code-box {
      > :first-child {
        margin-top: 10px;
      }
      > :not(:first-child) {
        margin-top: 14px;
      }
      > :last-child {
        margin-bottom: 10px;
      }
    }
  }

  &__more {
    padding: 15px;
    padding-top: 6px;
    position: absolute;
    right: 0;
    top: 0;

    &__menu {
      div {
        background: #081125;
        border-radius: 6px;
        margin-left: 5px;
        margin-top: -8px;
      }

      &__item {
        @at-root li#{&} {
          color: white;
          font-size: 12px;
          justify-content: flex-start;
          padding-right: 14px;
          padding-left: 14px;
          padding-top: 0;
          padding-bottom: 0;
          min-height: 27px;

          @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
              color: rgba(
                $color: (
                  #ffffff
                ),
                $alpha:
                  1 -
                  (
                    $i - 1
                  ) *
                  0.25
              );
            }
          }
        }
      }
    }
  }
}
