@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";
@import "../popup/components/navbar/navbar";
@import "../popup/components/tabs/tabs";
@import "../popup/components/merchant-cta/merchant-cta";

* {
  font-family: "Heebo", sans-serif;
}

body {
  color: $black;
  background-color: white;
}

html,
body,
#popup-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .header-bar + div {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

button {
  background: none;
  cursor: pointer;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  background-color: #4f6ef7;
  border-radius: 8px;
  cursor: pointer;

  &__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 14px 14px 18px 14px;
    display: flex;
    justify-content: center;
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.08);
  }

  &--light {
    background: #eef1ff;
    color: #4f6ef7;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    padding: 10px 0;
  }
}

.zero-state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
  }

  &__subtitle {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.25);
    margin-top: 4px;
  }
}
