@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: black;
  background-color: white;
}

html,
body,
#popup-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .header-bar + div {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

button {
  background: none;
  cursor: pointer;
}

.zero-state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    font-size: 14px;
    color: rgba(black, 0.4);
    font-weight: $medium;
  }

  &__subtitle {
    font-size: 12px;
    color: rgba(black, 0.25);
    margin-top: 4px;
  }
}

span.MuiTooltip-arrow {
  color: $black;
}
