@import "../../../styles/variables";

.code-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f4f6fa;
  border-radius: 10px;
  padding: 20px 0;
  width: 100%;
  cursor: pointer;

  &--wrapper {
    margin: 0 10px;
  }

  &__label {
    font-size: 12px;
    color: rgba($color: $slateDark, $alpha: 0.75);
    position: absolute;
    top: 0;

    &--action {
      color: $blue;
      font-weight: 500;
    }
    &--wrapper {
      display: flex;
      justify-content: center;
      position: relative;
      margin: 5px auto 0;
      height: 18px;
      width: 195px;
    }
  }

  &__value {
    font-size: 20px;
    font-weight: 600;
  }
}
