@import "../../../styles/variables";

.merchant-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 14px;
  background: white;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
  cursor: pointer;

  &:hover {
    background: darken(#f8fbfd, 1%);
  }

  &__avatar {
    border-radius: 50vh;
    width: 39px;
    height: 39px;
    margin-right: 14px;
    flex-shrink: 0;
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 700;
    font-size: 15px;
    color: $black;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__caption {
    font-family: 400;
    font-size: 12px;
    color: rgba($slateDark, 0.75);
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
