@import "../../../styles/variables";

.super-toast {
  display: flex;
  position: relative;
  margin: 4px 14px;
  background-color: $oceanBlue;
  box-shadow: 0 0 14px 4px rgba(black, 0.05);
  border-radius: 9px;
  cursor: pointer;

  &__content {
    display: flex;
    padding: 13px 13px 15px;
    &__icon {
      margin-top: 3px;
      margin-right: 11px;
      #white {
        display: none;
      }
    }
    &__block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      &__title {
        font-weight: $medium;
        font-size: 15px;
        color: white;
      }
      &__caption {
        font-weight: $regular;
        font-size: 12px;
        color: rgba(white, 0.75);
      }
    }
  }

  &--gradient {
    background-image: linear-gradient(135deg, #d43f8d 0%, #0250c5 100%);

    #white {
      display: block;
    }
    #blue {
      display: none;
    }
  }
}
