@import "../../../../styles/variables";

.bp-logo {
  position: absolute;
  left: 16px;

  &__helper {
    font-weight: $regular;
    font-size: 11px;
    color: #97aaff;
    pointer-events: none;
    user-select: none;
  }
}
