.spinner {
  width: 24px;
  height: 24px;
  animation: spin 400ms cubic-bezier(0.5, 0, 0.25, 1.2) infinite;
  user-select: none;
  &__wrapper {
    display: flex;
    justify-content: center;
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}