// Primary
$blue: #4f6ef7;
$midnightBlue: #0c204e;
$bitpayBlue: #1a3b8b;

// Secondary
$slateDark: #434d5a;
$slate: #9ba3ae;
$air: #ebedf8;
$feather: #f6f7fc;
$black: #303133;

// Interface
$caution: #ef476f;
$success: #2fcfa4;
$warning: #fdb455;

// font weights
$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$exbold: 800;
$exblack: 900;

// other variables
.d-none {
  display: none !important;
}
