.pay-with-bitpay {
  display: flex;
  justify-content: center;
  button.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  img {
    display: block;
    cursor: pointer;
  }

  &__pay-button {
    height: 60px;
  }
  .action-button__spinner {
    animation: unset;
  }
}
