.pay-with-bitpay {
  display: flex;
  justify-content: center;
  button.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  img {
    display: block;
    cursor: pointer;
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
