.line-items {
  padding: 0 15px 10px;
  font-size: 14px;
  &__item {
    display: flex;
    align-items: center;
    margin: 16px 0;
    &__label {
      flex-grow: 1;
      color: rgba($color: #73808c, $alpha: 0.8);

      &--bold {
        color: black;
        font-size: 16px;
        font-weight: 500;
      }
    }
    &__value {
      flex-shrink: 0;
      color: #434d5a;

      &--bold {
        color: black;
        font-size: 24px;
        font-weight: 600;
      }

      &.crypto-amount {
        color: #4f6ef7;
        font-weight: 500;
      }
    }
  }
}
