.payment {
  padding: 10px 0;
  overflow-y: hidden !important;

  .line-items {
    padding: 0 25px;
  }

  .settings-group {
    margin-bottom: 20px;

    &__label {
      color: #73808c;
    }
  }

  .pay-with-bitpay {
    margin-top: 20px;
  }
}
