@import "../../../styles/variables";

.search-bar {
  display: flex;
  align-items: center;
  background: $fog;
  border-radius: 8px;
  height: 34px;

  &--wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 14px 14px 8px;
    background-color: white;
    box-shadow: 0 1px 5px 0 rgba(black, 0.05);
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &__input {
      margin-left: 12px;
      width: 80%;
      background-color: $fog;
      border: none;
      color: $slateDark;
      font-size: 12px;
      font-weight: $medium;

      &:focus {
        outline: none !important;
      }

      &::placeholder {
        color: $slate;
        font-weight: $regular;
      }
    }

    &__icon {
      margin-right: 11px;
      user-select: none;
    }
  }
}
