@import "../../../styles/variables";

.line-items {
  padding: 0 15px;
  &__item {
    display: flex;
    align-items: center;
    margin: 16px 0;
    &__label {
      flex-grow: 1;
      font-size: 14px;
      color: rgba($color: #73808c, $alpha: 0.8);

      &--bold {
        color: black;
        font-size: 16px;
        font-weight: $medium;
        transform: translateY(-4px);
      }
    }
    &__value {
      flex-shrink: 0;
      font-size: 14px;
      color: $slateDark;

      &--bold {
        color: black;
        font-size: 24px;
        font-weight: $bold;
        transform: translateY(-2px);
      }

      &.crypto-amount {
        color: $blue;
        font-weight: $medium;
      }
    }
  }
}
