@import "../../../styles/variables";

.brand-page {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px 18px;

    &__icon {
      min-width: 72px;
      max-width: 72px;
      border-radius: 50vh;
      margin-right: 20px;

      &--hover {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 72px;
        max-width: 72px;
        height: 72px;
        border-radius: 50vh;
        background-color: rgba(#182026, 0.75);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 250ms ease-in-out;
      }
      &--wrapper {
        position: relative;
        &:hover {
          .brand-page__header__icon--hover {
            opacity: 1;
          }
        }
      }
    }

    &__block {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 6px;

      &__title {
        font-weight: 700;
        font-size: 18px;
        color: $black;
      }

      &__caption {
        font-weight: 400;
        font-size: 13px;
        color: rgba($slateDark, 0.75);
        padding-right: 4px;
      }

      &__discount {
        background: #ffffff;
        border-radius: 25vh;
        padding: 3px 12px;
        font-weight: 500;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
        transform: translateX(-4px);
        color: $blue;
        border: 1.5px solid $blue;
      }
    }
  }

  &__body {
    padding: 0 10px 16px;
    &__divider {
      background-color: rgba(black, 0.05);
      height: 1px;
      margin: 18px 8px;
    }
    &__content {
      margin: auto 12px;
      &__title {
        font-weight: 700;
        font-size: 15px;
        color: $slateDark;
      }
      &__text {
        position: relative;
        font-weight: 400;
        font-size: 12px;
        color: rgba(#565d6d, 0.8);
        line-height: 17px;
        margin-top: 4px;
        height: 50px;
        overflow: hidden;
        word-break: break-all;

        &--action {
          position: absolute;
          bottom: 0;
          right: 0;
          font-weight: 400;
          font-size: 12px;
          color: $blue;
          line-height: 17px;
          cursor: pointer;
          background: linear-gradient(90deg, rgba(white, 0), white, white);
          width: 50px;
          text-align: right;
        }

        &--expand {
          height: unset;
          overflow: visible;
          word-break: break-word;
        }
      }
    }
  }
}
