@import "../../../styles/variables";

.settings {
  background: $feather;

  .zero-state {
    background: white;
    height: 100%;

    &__subtitle {
      padding: 0 20px;
      text-align: center;
    }
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

.settings-group {
  $border-color: rgba(0, 0, 0, 0.05);
  $input-border: 1px solid $border-color;
  $left-padding: 16px;
  $cell-height: 52px;

  border-bottom: $input-border;

  &:last-child {
    margin-bottom: 18px;
  }

  &__label {
    font-size: 12px;
    color: rgba(
      $color: (
        #384366
      ),
      $alpha: 0.5
    );
    text-transform: uppercase;
    font-weight: $medium;
    border-bottom: $input-border;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: $left-padding;
  }

  &__item {
    font-weight: $medium;
    color: rgba(
      $color: (
        $slateDark
      ),
      $alpha: 0.65
    );
    display: flex;
    align-items: center;
    font-size: 14px;
    background: white;
    position: relative;
    padding: 0 $left-padding + 2;
    width: 100%;
    text-align: left;
    height: $cell-height;

    &:not(:last-child) {
      &:after {
        content: "";
        height: 1px;
        width: calc(100% - #{$left-padding});
        background: $border-color;
        bottom: 0;
        right: 0;
        position: absolute;
      }
    }

    &--link,
    &--dark {
      > img {
        height: 16px;
        margin-right: 10px;
      }
    }

    &--link {
      color: $blue;
    }

    &--dark {
      color: $black;
      font-weight: $medium;
      font-size: 14px;
    }

    &__avatar {
      border-radius: 50%;
      height: 24px;
      width: 24px;
      margin-right: 15px;
    }

    &__label {
      font-weight: $medium;

      > div:first-child {
        font-weight: $bold;
        color: $slateDark;
      }

      &__note {
        font-size: 14px;
        font-weight: $medium;
        color: $slateDark;
        opacity: 0.75;
      }
    }

    &__value {
      color: rgba(
        $color: (
          $slateDark
        ),
        $alpha: 0.5
      );
      flex-grow: 1;
      font-weight: $regular;
      text-align: right;
      margin-right: -5px;

      > span {
        margin-right: 0;
      }

      button &,
      a & {
        margin-right: 12px;
      }
    }

    @at-root {
      a#{&},
      button#{&} {
        &:hover {
          background: #fbfbfb;
        }
        &:before {
          content: url(/assets/icons/right-arrow.svg);
          background: transparent;
          position: absolute;
          right: 13px;
          top: calc(50% + 2px);
          transform: translateY(-50%);
        }
      }
    }
  }

  &__input {
    padding: 0 $left-padding;
    background: white;
    height: $cell-height;
    display: flex;
    align-items: center;

    > input {
      font-size: 14px;
      width: 100%;
      font-weight: $medium;
      color: $black;

      @include placeholder {
        color: rgba(
          $color: (
            $slateDark
          ),
          $alpha: 0.5
        );
        font-weight: $regular;
      }
    }

    + div {
      &:after {
        content: "";
        height: 1px;
        width: calc(100% - #{$left-padding});
        background: $border-color;
        top: 0;
        right: 0;
        position: absolute;
      }
    }
  }

  &__caption {
    position: relative;
    background: white;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.4);
    padding: 15px $left-padding;
  }
}
