.wallet-cards {
  $header-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  &__header {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: $header-color;
    margin: 26px 0;
    margin-left: 13px;

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;

    &:after {
      content: "";
      border-top: 2px solid rgba(0, 0, 0, 0.05);
      margin: 0 20px 0 0;
      flex: 1 0 20px;
      margin: 0 0 0 15px;
    }
  }
}

.wallet-card {
  margin-bottom: 2px;
  &__card {
    display: flex;
    align-items: center;
    width: 100%;
    background: #221e20;
    margin: 0 auto;
    overflow: hidden;
    width: calc(100% - 26px);
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    padding-right: 16px;
    height: 45px;

    .light & {
      position: relative;
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.07);
    }

    > img {
      max-height: 47px;
      margin-top: -2px;
      margin-left: 3px;
    }

    &__balance {
      flex-grow: 1;
      text-align: right;
      color: white;
      font-size: 20px;
      font-weight: 500;

      .light & {
        color: black;
      }
    }
  }
  &__slot {
    position: relative;
    margin-left: -3px;
    margin-top: -20px;
    height: 30px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &--brand-box,
  &--card-box {
    display: flex;
    align-items: center;
    border-radius: 8px;

    &__balance {
      flex-grow: 1;
      text-align: right;
      font-weight: 500;
    }
  }

  &--brand-box {
    box-shadow: 0 2px 5px 1px rgba(48, 49, 51, 0.15);
    height: 67px;
    padding-right: 25px;
    padding-left: 10px;
    margin-bottom: 24px;

    .light & {
      position: relative;
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.08);
    }
    > img {
      max-height: 50px;
    }

    &__balance {
      color: white;
      font-size: 20px;

      .light & {
        color: black;
      }
    }
  }

  &--card-box {
    background: #f4f6fa;
    height: 66px;
    padding: 0 18px;
    margin-bottom: 15px;

    &__text {
      text-align: left;
      &__label {
        font-size: 13px;
        color: #434d5a;
        font-weight: 500;
      }
      &__note {
        opacity: 0.5;
        font-size: 12px;
        color: #434d5a;
      }
    }
    &__balance {
      font-size: 26px;
      color: #303133;
    }
  }
}
